[submodule "vendor/Silex"]
	path = vendor/Silex
	url = https://github.com/fabpot/Silex.git
[submodule "vendor/symfony"]
	path = vendor/symfony
	url = https://github.com/symfony/symfony.git
[submodule "vendor/Twig"]
	path = vendor/Twig
	url = https://github.com/fabpot/Twig.git
[submodule "vendor/swiftmailer"]
	path = vendor/swiftmailer
	url = https://github.com/swiftmailer/swiftmailer.git
