{% extends layout %}

{% block title %}About Me - Saša Stamenković{% endblock %}
{% block description %}Hi, welcome to my little peace of the Internet. Let me introduce myself. My name is Saša Stamenković. I graduated from the University of Niš with a degree in Computer Science.{% endblock %}
{% block keywords %}web developer, Computer Science, software, development, profession, tools, PHP, community, open source, Internet{% endblock %}

{% block content %}
<h2 id="title" class="about georgia">About</h2>
<p>Hi, welcome to my little peace of the Internet. Let me introduce myself. My name is Saša Stamenković. I graduated from the University of Niš with a degree in Computer Science. Now I'm working for a small software company here in <a href="http://goo.gl/maps/dHWb" rel="nofollow">Niš</a>.</p>
<p>I love my profession. For me, software development is more than day-to-day work, it's a hobby, a passion, it's art. To turn daily work into fun is what you can do only if you really like your work. And if you are free to choose to do whatever you want, using tools and methodology you want with no schedule pressure, you are getting most of software development - that's why I love open source. I enjoy learning and trying new things, tend to get better every day. I am active in the PHP community, enjoy helping people and sharing ideas.</p>
<p>Most of my free time I spend with my lovely girlfriend. We usually find some lake or a mountain, or any nice and quiet place out of the city to get some fresh air and relax. I also like to play guitar, but it sounds like crap, I'm better on my keyboard. And I'm trying to go to the gym whenever I find some free time.</p>
{% endblock %}