{% extends layout %}

{% block title %}Portfolio - Saša Stamenković{% endblock %}
{% block description %}I am experienced web developer, working with various projects, from small to medium websites to enterprise business tools.{% endblock %}
{% block keywords %}web developer, experienced, projects, development, business, libraries, applications, blog, PHP, MySQL, JavaScript, Symfony, Silex, Zend Framework, Doctrine ORM, jQuery{% endblock %}

{% block content %}
<h2 id="title" class="portfolio">Portfolio</h2>
<p>I am experienced web developer, working with various projects, from small to medium websites to enterprise business tools. With my programming knowledge and a collection of different technologies and libraries, I provide rapid development of high quality applications.</p>
<ul>
	<li class="portfolio-category">Programming skills
		<ul>
			<li class="portfolio-subcategory">Technologies and Languages
				<ul>
					<li>PHP</li>
					<li>Java</li>
					<li>.NET (C#)</li>
					<li>MySQL</li>
					<li>PostgreSQL</li>
					<li>Apache Derby</li>
					<li>JavaScript</li>
					<li>ActionScript</li>
					<li>(X)HTML</li>
					<li>CSS</li>
				</ul>
			</li>
			<li class="portfolio-subcategory">Frameworks and Libraries
				<ul>
					<li>Symfony</li>
					<li>Silex</li>
					<li>Zend Framework</li>
					<li>Doctrine ORM</li>
					<li>PHPUnit</li>
					<li>PEAR</li>
					<li>Hibernate</li>
					<li>jUnit</li>
					<li>Wordpress</li>
					<li>jQuery</li>
					<li>jQueryUI</li>
					<li>Prototype</li>
					<li>Scriptaculous</li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="portfolio-category">Expirience
		<ul>
			<li>Senior Web Developer at <a href="http://www.troxo.com/" rel="nofollow">Troxo DOO</a>
				<ul>
					<li><a href="https://www.loopia.se/" rel="nofollow">Loopia</a></li>
					<li><a href="http://www.pingdom.com/" rel="nofollow">Pingdom</a></li>
				</ul>
			</li>
			<li>Blog writer at <a href="http://dev.umpirsky.com/">dev.umpirsky.com</a></li>
			<li>Feed Fetcher (internet security project)</li>
			<li>GateSecure Reseller Management API</li>
			<li>GateSecure order page and customer panel</li>
			<li><a href="http://php.umpirsky.com/">Online PHP Functions</a></li>
			<li><a href="https://launchpad.net/~umpirsky/+archive/revision-monitor">Revision Monitor</a></li>
			<li><a href="https://github.com/umpirsky/country-list">Country List</a></li>
			<li><a href="http://simplex.umpirsky.com/">Simplex</a></li>
			<li><a href="http://transliterate.umpirsky.com/">Online Text Transliterator</a></li>
			<li><a href="http://code.google.com/p/umpirsky-uploader/" rel="nofollow">Umpirsky Uploader</a></li>
			<li>Various student projects</li>
		</ul>
	</li>
	<li class="portfolio-category">Education
		<ul>
			<li>Computer Science (University of Niš)</li>
		</ul>
	</li>
</ul>
{% endblock %}