{% extends layout %}

{% block title %}Social Networks - Saša Stamenković{% endblock %}
{% block description %}I really like social networks (excluding facebook), especially ones where you can contribute like stackoverflow or github.{% endblock %}
{% block keywords %}web developer, experienced, GitHub, Stack Overflow, LinkedIn, Google, Twitter, YouTube, Flickr, Picasa, Last.fm, Digg, Reddit, Delicious{% endblock %}

{% block content %}
<h2 id="title" class="social">Social</h2>
<p>I really like social networks (excluding facebook), especially ones where you can contribute like <a href="http://stackoverflow.com/" rel="nofollow">stackoverflow</a> or <a href="https://github.com/" rel="nofollow">github</a>. Feel free to find me on one of them listed below.</p>
<div>
	<a class="social github" title="GitHub" href="https://github.com/umpirsky"></a>
	<a class="social stackoverflow" title="Stack Overflow" href="http://stackoverflow.com/users/177056/umpirsky"></a>
	<a class="social linkedin" title="LinkedIn" href="http://rs.linkedin.com/in/umpirsky"></a>
	<a class="social google" title="Google" href="http://www.google.com/profiles/umpirsky"></a>
	<a class="social twitter" title="Twitter" href="http://twitter.com/umpirsky"></a>
	<a class="social youtube" title="YouTube" href="http://www.youtube.com/user/umpirsky"></a>
	<a class="social flickr" title="Flickr" href="http://www.flickr.com/photos/umpirsky/"></a>
	<a class="social picasa" title="Picasa" href="http://picasaweb.google.com/umpirsky"></a>
	<a class="social lastfm" title="Last.fm" href="http://www.last.fm/user/umpirsky"></a>
	<a class="social digg" title="Digg" href="http://digg.com/umpirsky"></a>
	<a class="social reddit" title="Reddit" href="http://www.reddit.com/user/umpirsky/"></a>
	<a class="social delicious" title="Delicious" href="http://www.delicious.com/umpirsky"></a>
</div>
<p>Most of my free time I spend with my lovely girlfriend. We usually find some lake or a mountain, or any nice and quiet place out of the city to get some fresh air and relax. I also like to play guitar, but it sounds like crap, I'm better on my keyboard. And I'm trying to go to the gym whenever I find some free time.</p>
{% endblock %}