@import "http://fonts.googleapis.com/css?family=Fjord+One";

body {
    font-family: 'Fjord One', serif;
    font-size: 16px;
	background-color: #090909;
	color: #FFFFFF;
	background-image:url("http://static.umpirsky.com//umpirsky.com/img/background.min.png");
	background-repeat:no-repeat;
}

a {
	color:#FFFFFF;
	text-decoration:none;
}

a.social {
	display: block;
	height: 96px;
	width: 96px;
	float: left;
	margin-bottom:4px;
	margin-right:4px;
}

a.github {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -2016px;
}

a.github:hover {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -1920px;
}

a.stackoverflow {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -1056px;
}

a.stackoverflow:hover {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -960px;
}

a.linkedin {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -480px;
}

a.linkedin:hover {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -384px;
}

a.google {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -2208px;
}

a.google:hover {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -2112px;
}

a.twitter {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -1344px;
}

a.twitter:hover {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -1248px;
}

a.youtube {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -1536px;
}

a.youtube:hover {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -1440px;
}

a.flickr {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -1824px;
}

a.flickr:hover {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -1728px;
}

a.picasa {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -672px;
}

a.picasa:hover {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -576px;
}

a.lastfm {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -288px;
}

a.lastfm:hover {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -192px;
}

a.digg {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -1632px;
}

a.digg:hover {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -1152px;
}

a.reddit {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -864px;
}

a.reddit:hover {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -768px;
}

a.delicious {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 -96px;
}

a.delicious:hover {
	background: url(http://static.umpirsky.com//umpirsky.com/img/master-sprite.png) no-repeat 0 0px;
}

h1#name {
	font-size:74px;
	font-weight:lighter;
	margin:15px 0 5px;
	white-space:nowrap;
}

h1.error {
	font-size:400px;
	margin:0;
}

h2#title {
	font-weight:normal;
	margin:0;
	text-transform:uppercase;
}

h2#title.about {
	font-size:169px;
	line-height:105px;
}

h2#title.portfolio {
	font-size:103px;
	line-height:55px;
}

.portfolio-category {
    font-size:22px;
    font-weight: bold;
}

.portfolio-subcategory {
    font-size:18px;
    font-weight: bold;
    padding-top: 5px;
}

.portfolio-category ul {
    font-size: 16px;
    font-weight: normal;
}

h2#title.social {
	font-size:165px;
	line-height:101px;
}

h2#title.contact {
	font-size:126px;
	line-height:70px;
}
	
div#content {
	margin-left:5px;
	margin-bottom: 30px;
	width:600px;
}

div#menu_wrapper {
	height:200px;
	margin-bottom:40px;
	margin-top:20px;
}

ul#menu {
	float:left;
	font-size:30px;
	list-style:none outside none;
	padding: 0;
	margin-left:0;
    margin-top: 5px;
	text-transform:uppercase;
}

ul#menu li {
}

form div {
    margin-bottom: 20px;
}

form div:nth-child(1) {
    float: left;
}

form div:nth-child(2) {
    float: right;
}


form label {
    margin-bottom: 7px;
	font-weight: bold;
    display: block;
}

form input[type="text"], form input[type="email"], form textarea {
	font-size:25px;
	padding:5px;
}

form input[type="text"], form input[type="email"] {
	width:270px;
	height:30px;
	border: none;
}

form textarea {
	width:590px;
	height: 250px;
	border: none;
}

form input[type="submit"] {
	background-color:#FFFFFF;
	font-size:19px;
	font-weight:bold;
	height:37px;
	width:200px;
	border: none;
	cursor: pointer;
}

form ul.errors {
	font-style:italic;
	list-style:none outside none;
	margin-top:7px;
	padding:0;
}

.left {
	float: left;
}

.right {
	float: right;
}