<!DOCTYPE html>
<html>
{% include head.html %}
<body class="text-center">
    {% if site.google_tag_manager %}
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> {% endif %}
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="/">Home</a>
                    <a class="nav-link" href="http://wall.umpirsky.com">Blog</a>
                    <a class="nav-link {% if page.url == '/contact/' %}active{% endif %}" href="/contact">Contact</a>
                </nav>
            </div>
        </header>
        <main role="main" class="inner cover">
            {{ content }}
        </main>
        {% include footer.html %}
    </div>
</body>
</html>
